@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-y-header.is-open .i-y-header-background {
  left: 0;
}
.i-y-header-button-wrapper {
  margin-left: auto;
}
.i-y-header-icon {
  display: none;
}

.i-y-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-y-navigation-list.is-open {
  right: 0;
}
.i-y-header-icon-menu {
  display: block;
}

.i-y-header-icon-button.is-open .i-y-header-icon-menu {
  display: none;
}

.i-y-header-icon-button.is-open .i-y-header-icon-close {
  display: block;
}

.i-y-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 86px;
  background: #242424;
}

.i-y-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #242424;
}
.i-y-header.is-open .i-y-header-background {
  left: 0;
}
.i-y-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-y-header-icon-menu {
  display: block;
}

.i-y-header-icon-button.is-open .i-y-header-icon-menu {
  display: none;
}

.i-y-header-icon-button.is-open .i-y-header-icon-close {
  display: block;
}

.i-y-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 13px 16px;
  position: relative;
}

.i-y-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 36px;

  gap: 31px;

  background: #ffffff;
}

.i-y-navigation-list.is-open {
  right: 0;
}

.i-y-navigation-link {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all 0.3s ease;
  color: #242424;
}

.i-y-navigation-link:hover,
.i-y-navigation-link:focus {
  color: #f8ff9c;
}

.i-y-header.is-open {
  background-color: transparent;
}

.i-y-navigation-img {
  display: none;
}

@media screen and (min-width: 1197px) {
  .i-y-navigation-img {
    display: block;
    margin-right: 24px;
  }
  .i-y-header-icon-title {
    display: none;
  }
  .i-y-header-button-wrapper {
    display: none;
  }
  .i-y-header {
    width: 100%px;
    height: 104px;
    padding: 14px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f2f2f;
  }

  .i-y-header-background {
  }
  .i-y-header-icon-button {
    display: none;
  }
  .i-y-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }
  .i-y-navigation-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
  .i-y-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;

    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 44px;
    row-gap: 22px;
    height: 0px;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    width: 1093px;
    border: none;
    margin-top: -10px;
  }

  .i-y-navigation-link {
    text-decoration: none;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;

    color: #ffffff;
  }

  .i-y-navigation-item-desk {
    display: none;
  }
}
.i-y-home {
  width: 375px;
  height: 782px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img//1\ \(1\).png");
  margin: auto;
}
.i-y-home-container {
  width: 375px;
  padding: 418px 16px 0px;
  margin: auto;
}

.i-y-home-title {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
}

.i-y-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  padding: 28px 0 20px;
}
.i-y-home-div {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.i-y-home-link {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  padding-left: 57px;
}
.i-y-home-link-two {
  padding-left: 147px;
}
.i-y-home-link-three {
  padding-left: 230px;
}
@media screen and (min-width: 1197px) {
  .i-y-home {
    width: 1440px;
    height: 682px;
    background-image: url("/img/1\ \(2\).png");
  }
  .i-y-home-container {
    width: 1440px;
    padding: 156px 60px 0px;
  }
  .i-y-home-container-top {
    display: flex;
    flex-direction: column;
    width: 780px;
  }

  .i-y-home-title {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 58px;
    leading-trim: NONE;
  }

  .i-y-home-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;

    padding: 32px 0 66px;
  }
  .i-y-home-div {
    display: flex;

    gap: 22px;
  }
  .i-y-home-link {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    padding-left: 0px;
  }
  .i-y-home-link-two {
    padding-left: 187px;
  }
  .i-y-home-link-three {
    padding-left: 340px;
  }
}
.i-y-about {
  margin: auto;
  width: 375px;
  height: 762px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/22.jpg");
}
.i-y-about-container {
  padding: 32px 16px 0;
  color: #2f2f2f;
}
.i-y-about-title {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
}
.i-y-about-title-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 198px;
}

.i-y-about-list {
  padding-top: 38.5px;
}
.i-y-about-item {
  width: 343px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.i-y-about-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
}
.i-y-about-title-twoq {
  padding-top: 16px;
}
.i-y-about-itemq {
  gap: 32px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/about/Frame\ 8.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 12px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  width: 40px;
  height: 12px;

  background: url("/img/about/Frame\ 7.png") no-repeat center/cover;
}
.i-y-about-lists {
  display: none;
}
@media screen and (min-width: 1197px) {
  .i-y-about {
    width: 1440px;

    height: 636px;
    background-image: url("/img/about/2.png");
  }
  .i-y-about-container {
    padding: 44px 60px;
  }
  .i-y-about-title {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
  }
  .i-y-about-title-two {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    padding-top: 12px;
  }

  .i-y-about-list {
    display: none;
  }
  .i-y-about-lists {
    display: flex;
    padding-top: 34px;
    padding-left: 448px;
    gap: 2px;
  }
  .i-y-about-item {
    width: 445px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .i-y-about-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }
  .i-y-about-title-twoq {
    padding-top: 58px;
    padding-left: 448px;
  }
  .i-y-about-itemq {
    gap: 32px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }

  .slick-dots li {
    list-style: none;
  }
}

.i-y-why-container {
  width: 375px;
  margin: auto;
  height: 362px;
  padding: 32px 16px 0;
  background-image: url("/img/why/5.png");
  color: #2f2f2f;
}
.i-y-why-list {
  padding-top: 24px;
}
.i-y-why-item {
  width: 343px;
  height: 211px;
  margin: 0 10px;
}

.i-y-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
}
.i-y-why-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;

  padding-right: 4px;
}
.i-y-why-div {
  display: flex;
  gap: 10px;
  padding-top: 40px;
}
.i-y-why-img {
  width: 78px;
}
.i-y-why-div-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  width: 228px;
}
.i-y-why-lists {
  display: none;
}
@media screen and (min-width: 1197px) {
  .i-y-why-container {
    width: 1440px;
    height: 683px;
    padding: 292px 60px 0;
    background-image: url("/img/why/5\ \(1\).png");
  }
  .i-y-why-lists {
    display: flex;
    padding: 24px;
    gap: 24px;
  }
  .i-y-why-item {
    width: 424px;
    height: 257px;
    margin: 0 0px;
  }

  .i-y-why-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
  }
  .i-y-why-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;

    padding-right: 12px;
  }
  .i-y-why-div {
    display: flex;
    gap: 10px;
    padding-top: 50px;
  }
  .i-y-why-img {
    width: 105px;
  }
  .i-y-why-div-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;

    width: 309px;
  }
}

.i-y-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 633px;
  padding: 32px 16px 0;
  background-image: url("/img/3\ \(2\).png");
}
.i-y-about-title-two-p {
  padding-top: 180px;
}
.i-y-uniqueness-item {
  gap: 34px;
}
.i-y-uniqueness-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  padding-top: 20px;
}
.i-y-uniqueness-lists {
  display: none;
}
@media screen and (min-width: 1197px) {
  .i-y-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 500px;
    padding: 44px 60px 0;
    background-image: url("/img/3\ \(1\).png");
  }
  .i-y-about-title-two-p {
    padding-top: 12px;
  }
  .i-y-uniqueness-lists {
    display: flex;
    padding-top: 53px;
    gap: 60px;
  }
  .i-y-uniqueness-item {
    gap: 34px;
    width: 472px;
  }
  .i-y-uniqueness-text-bold {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;

    padding-top: 44px;
  }
}

.i-y-how-container {
  margin: auto;
  width: 375px;
  height: 560px;
  padding: 32px 16px 0;
  background-image: url("/img/4.png");
}
.i-y-how-list {
  padding-top: 218px;
}
.i-y-how-lists {
  display: none;
}
.i-y-how-item {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  text-align: center;
  width: 237.34375px;
  height: 114px;
  margin: 0 70px;
}

@media screen and (min-width: 1197px) {
  .i-y-how-container {
    margin: auto;
    width: 1440px;
    height: 666px;
    background-image: url("/img/4\ \(2\).png");
    padding: 44px 60px 0;
  }

  .i-y-how-lists {
    display: flex;
    padding-top: 24px;
    gap: 14px;
  }
  .i-y-how-item {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    text-align: center;
    width: 424px;
    height: 180px;
    padding: 24px 59px;
    margin: 0 0px;
  }
}

.i-y-reviews-container {
  margin: auto;
  padding: 77px 16px 0;
  width: 375px;
  height: 420px;
  background-image: url("/img/6.png");
}
.i-y-reviews-list {
  padding-top: 20px;
}
.i-y-reviews-lists {
  display: none;
}
.i-y-reviews-item {
  margin: 0 10px;
  width: 343px;
  height: 172px;
}

.i-y-reviews-item-two {
  display: flex;
  gap: 10px;
}
.i-y-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}
.i-y-reviews-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
.i-y-reviews-text-q {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  width: 250px;
  padding-top: 43px;
}

@media screen and (min-width: 1197px) {
  .i-y-reviews-container {
    margin: auto;
    padding: 282px 60px 0;
    width: 1440px;
    height: 667px;
    background-image: url("/img/6\ \(1\).png");
  }

  .i-y-reviews-lists {
    display: flex;
    gap: 121.5px;
    padding-top: 24px;
  }
  .i-y-reviews-item {
    margin: 0 0px;
    width: 359px;
    height: 194px;
  }

  .i-y-reviews-item-two {
    display: flex;
    gap: 10px;
  }
  .i-y-reviews-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 96px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
  }
  .i-y-reviews-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .i-y-reviews-text-q {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    width: 309px;
    padding-top: 32px;
  }
}

.i-y-faq-container {
  padding: 32px 16px 0px;
  width: 375px;
  height: 487px;
  margin: auto;
  background-image: url("/img/7.png");
}
.i-y-faq-list {
  padding-top: 171px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.i-y-faq-item {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;

  color: #2f2f2f;
}

@media screen and (min-width: 1197px) {
  .i-y-faq-container {
    padding: 44px 60px 0;
    width: 1440px;
    margin: auto;
    height: 358px;
    background-image: url("/img/7\ \(1\).png");
  }
  .i-y-faq-list {
    padding-top: 24px;
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .i-y-faq-item {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }
}

.i-y-features-container {
  width: 375px;
  margin: auto;
  padding: 32px 16px;
  height: 435px;
  background-image: url("/img//8.png");
}
.i-y-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 171px;
  gap: 20px;
}

.i-y-features-div-item {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;

  color: #2f2f2f;
}

@media screen and (min-width: 1197px) {
  .i-y-features-container {
    width: 1440px;
    margin: auto;
    padding: 44px 60px 0 708px;
    height: 454px;
    background-image: url("/img/8\ \(1\).png");
  }
  .i-y-features-div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 39px;
  }

  .i-y-features-div-item {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }
}

.i-y-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  color: #2f2f2f;
}

.i-y-container h1 {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
}

.i-y-container h2 {
  margin-top: 28px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
}

.i-y-container h3 {
  margin-top: 28px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
}

.i-y-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-y-container ul li {
  margin-top: 28px;
}
.i-y-container p {
  margin-top: 28px;
}
.i-y-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-y-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1197px) {
  .i-y-container {
    padding: 126px 72px 140px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }

  .i-y-container h1 {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
  }

  .i-y-container h2 {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    leading-trim: NONE;
  }

  .i-y-container h3 {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
  }

  .i-y-container ul {
    margin-top: 20px;
  }

  .i-y-container ul li {
    margin-bottom: 10px;
  }
  .i-y-container p {
    margin-top: 20px;
  }
}

.i-y-footer-container {
  width: 375px;
  margin: auto;
  padding: 20px 0 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  height: 287px;
  background-image: url("/img/footer.png");
  color: #2f2f2f;
}

.i-y-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  text-align: center;
  z-index: 1px;
  position: relative;
}

.i-y-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.i-y-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  text-align: center;
}
.i-y-footer-div {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.i-y-footer-div-item {
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1197px) {
  .i-y-footer-container {
    width: 1440px;
    height: 234px;
    padding: 24px 70px;
    align-items: stretch;
    background-image: url("/img/footer\ \(1\).png");
    gap: 32px;
  }

  .i-y-footer-wrapper {
    display: flex;

    gap: 12px;
  }

  .i-y-footer-text {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }

  .i-y-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    text-align: left;
  }
  .i-y-footer-div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    gap: 405px;
    margin-top: -65px;
  }
  .i-y-footer-div-item {
    color: #2f2f2f;
  }
}

.i-y-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(60px);
  background: #a7a7a7;

  z-index: 1000;
  display: none;
}

.i-y-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-y-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-y-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid#F8FF9C;
  background: #ffffff03;
  width: 122px;
  padding: 11px 0;
  border-radius: 50px;
  border-width: 2px;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

#accept-cookies {
  background: #f8ff9c;
}

.i-y-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.i-y-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1197px) {
  .i-y-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 525px;
  }
  .i-y-cookie-button {
    width: 168px;

    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-y-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-y-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .i-y-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
