@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #1f1f1f;

  color: #f2f2f2;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-r-header.is-open .i-r-header-background {
  left: 0;
}
.i-r-header-button-wrapper {
  margin-left: auto;
}
.i-r-header-icon {
  display: none;
}

.i-r-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-r-navigation-list.is-open {
  right: 0;
}
.i-r-header-icon-menu {
  display: block;
}

.i-r-header-icon-button.is-open .i-r-header-icon-menu {
  display: none;
}

.i-r-header-icon-button.is-open .i-r-header-icon-close {
  display: block;
}

.i-r-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.i-r-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
}
.i-r-header.is-open .i-r-header-background {
  left: 0;
}
.i-r-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #00b2ff;
  backdrop-filter: blur(30px);
  background: #000000cc;

  border-radius: 40px;

  padding: 22px 15px;
}

.i-r-header-icon-menu {
  display: block;
}

.i-r-header-icon-button.is-open .i-r-header-icon-menu {
  display: none;
}

.i-r-header-icon-button.is-open .i-r-header-icon-close {
  display: block;
}

.i-r-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 16px 0;
  position: relative;
}

.i-r-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;
  border-radius: 40px;
  gap: 12px;

  border: 1px solid #00b2ff;
  backdrop-filter: blur(30px);
  background: #000000cc;
}

.i-r-navigation-list.is-open {
  right: 0;
}

.i-r-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #f2f2f2;
}

.i-r-navigation-link:hover,
.i-r-navigation-link:focus {
  color: #00b2ff;
}

.i-r-header.is-open {
  background-color: transparent;
}

.i-r-navigation-img {
  display: none;
}

@media screen and (min-width: 1199px) {
  .i-r-navigation-img {
    display: block;
    margin-right: 256px;
  }
  .i-r-header-icon-title {
    display: none;
  }
  .i-r-header-button-wrapper {
    display: none;
  }
  .i-r-header {
    width: 1296px;
    height: 140px;
    top: 24px;
    border-radius: 100px;

    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #000000cc;
    border: 1px solid #00b2ff;
    backdrop-filter: blur(30px);
  }

  .i-r-header-background {
  }
  .i-r-header-icon-button {
    display: none;
  }
  .i-r-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1296px;
    margin: auto;
  }
  .i-r-navigation-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
  .i-r-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;

    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    justify-content: end;
    align-items: end;
    flex-wrap: wrap;
    padding: 0;
    width: 952px;
    border: none;
    margin-top: -14px;
  }

  .i-r-navigation-link {
    text-decoration: none;
  }

  .i-r-navigation-link:hover,
  .i-r-navigation-link:focus {
    color: #ffffff;
  }

  .i-r-navigation-item-desk {
    display: none;
  }
}
.i-r-home {
  width: 375px;
  height: 675px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40025.png");
  margin: auto;
}
.i-r-home-container {
  width: 375px;
  padding: 164px 16px 0px;
  margin: auto;
}

.i-r-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i-r-home-title {
  font-family: Orbitron;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.i-r-home-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  width: 311px;
  padding: 24px 0 48px;
}
.i-r-home-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-r-home-link {
  transition: all 0.3s ease-in-out;
  background: #00b2ff;
  width: 343px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #1f1f1f;
  border: 2px solid #00b2ff;
}
.i-r-home-link-two {
  color: #f2f2f2;
  border: 2px solid #00b2ff;
  background: #ffffff0d;
  backdrop-filter: blur(40px);
}
.i-r-home-link:hover {
  background: #0799d8;
}
.i-r-home-link-two:hover {
  background: #ffffff1a;
}

@media screen and (min-width: 1199px) {
  .i-r-home {
    width: 1440px;
    height: 812px;
    background-image: url("/img//Frame\ 40090.png");
  }
  .i-r-home-container {
    width: 1440px;
    padding: 284px 0px 0px;
  }
  .i-r-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .i-r-home-title {
    font-family: Orbitron;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-r-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

    width: 636px;
    padding: 40px 0 56px;
  }
  .i-r-home-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .i-r-home-link {
    transition: all 0.3s ease-in-out;

    width: fit-content;
    padding: 14px 93px;
    border-radius: 40px;

    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .i-r-home-link-two {
    padding: 14px 22px;
  }
}
.i-r-about {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-r-about-container {
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40031.png");

  margin: auto;
}
.i-r-about-title {
  font-family: Orbitron;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.i-r-about-title-two {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #c7eeff;
  padding-top: 40px;
}
.i-r-about-title-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 20px;
}
.i-r-about-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 177px;
}
.i-r-about-text-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 161px;
}
.i-r-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  background: #000000;
  padding: 8px 39px;
  border-radius: 100px;
}

@media screen and (min-width: 1199px) {
  .i-r-about {
    width: 1440px;
    padding: 0 72px;
  }
  .i-r-about-container {
    height: 688px;
    background-image: url("/img/Frame\ 40031\ \(1\).png");
  }
  .i-r-about-title {
    font-family: Orbitron;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-r-about-title-two {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 56px;
  }
  .i-r-about-title-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 24px;
  }
  .i-r-about-title-text-two {
    width: 636px;
  }
  .i-r-about-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 24px;
    padding-left: 660px;
  }
  .i-r-about-text-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 660px;
    padding-top: 24px;
    padding-bottom: 0px;
  }
  .i-r-about-text {
    width: 636px;
    height: 60px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 100px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-r-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.i-r-why-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-r-why-item {
  border: 1px solid #4a90e2;
  background: #00000066;
  padding: 15px;
  border-radius: 40px;
}

.i-r-why-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.i-r-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1199px) {
  .i-r-why-container {
    width: 1440px;
    padding: 112px 72px 0;
  }
  .i-r-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .i-r-why-item {
    width: 306px;
    height: 158px;
    padding: 23px;
    border-radius: 50px;
  }

  .i-r-why-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .i-r-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.i-r-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-r-uniqueness-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-r-uniqueness-item {
  border: 1px solid #00b2ff;
  background: #000000;
  padding: 15px;
  border-radius: 40px;
  border-width: 1px;
}

.i-r-uniqueness-text-bold {
  font-family: Orbitron;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-bottom: 4px;
}
.i-r-uniqueness-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f5f5f5b2;
  padding-top: 12px;
}
.i-r-uniqueness-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f5f5f5;

  margin-top: 4px;
}
.i-r-uniqueness-text-two-q {
  list-style-type: disc;
  margin-left: 20px;
  height: 84px;
}
.i-r-uniqueness-text-twow {
  height: 105px;
}
@media screen and (min-width: 1199px) {
  .i-r-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 112px 72px 0;
  }
  .i-r-uniqueness-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .i-r-uniqueness-item {
    width: 416px;
    height: 572px;
    padding: 23px;
    border-radius: 50px;
  }

  .i-r-uniqueness-text-bold {
    font-family: Orbitron;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-bottom: 8px;
  }
  .i-r-uniqueness-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 16px;
  }
  .i-r-uniqueness-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    margin-top: 8px;
  }
  .i-r-uniqueness-text-two-q {
    list-style-type: disc;
    margin-left: 20px;
    height: 96px;
  }
  .i-r-uniqueness-text-twow {
    height: 120px;
  }
}

.i-r-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-r-how-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.i-r-how-item {
  gap: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.i-r-how-img {
  font-family: Orbitron;
  font-weight: 500;
  font-style: Medium;
  font-size: 56px;
  leading-trim: CAP_HEIGHT;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #00b2ff80;
  width: 47px;
}

.i-r-how-text-bold {
  width: 248px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.i-r-how-text {
  width: 248px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #f2f2f2b2;
  padding-top: 8px;
}

@media screen and (min-width: 1199px) {
  .i-r-how-container {
    margin: auto;
    width: 1440px;
    padding: 112px 72px 0;
  }
  .i-r-how-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .i-r-how-item {
    width: 416px;
    height: 136px;
    gap: 24px;
    padding: 24px;
  }

  .i-r-how-img {
    font-family: Orbitron;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    leading-trim: CAP_HEIGHT;
    line-height: 140%;
    letter-spacing: 0%;

    width: 54px;
  }

  .i-r-how-text-bold {
    width: 319px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .i-r-how-text {
    width: 319px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.i-r-reviews-container {
  margin: auto;
  padding: 80px 16px 0;
  width: 375px;
}
.i-r-reviews-list {
  padding-top: 20px;
}

.i-r-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 145px;
  border: 1px solid #00b2ff;
  background: #000000;
  padding: 16px 24px;
  border-radius: 40px;
}

.i-r-reviews-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: #00b2ff;
}

.i-r-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.slick-dots li {
  list-style: none;
  width: 34px;
  height: 15px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Rectangle\ 63.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Rectangle\ 61.png") no-repeat center/cover;
}

@media screen and (min-width: 1199px) {
  .i-r-reviews-container {
    margin: auto;
    padding: 112px 72px 0;
    width: 1440px;
  }
  .i-r-reviews-list {
    padding-top: 24px;
  }

  .i-r-reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 170px;
    padding: 24px;
    border-radius: 50px;
  }

  .i-r-reviews-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
  }

  .i-r-reviews-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Italic;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
  .slick-dots li {
    display: none;
  }
  .progress-bar {
    width: 100%;
    height: 9px;
    background: #00b2ff4d;

    border-radius: 16px;
    overflow: hidden;
    margin-top: 32px;
  }

  .progress-fill {
    height: 100%;
    width: 0%;
    background: #00b2ff;
    border-radius: 16px;
    transition: width 0.5s ease;
  }
}

.i-r-faq-container {
  padding: 80px 16px 0px;
  width: 375px;
  margin: auto;
}
.i-r-faq-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.i-r-faq-item {
  border: 1px solid #00b2ff;
  background: #000000;
  padding: 15px;
  border-radius: 40px;
  border-width: 1px;
}

.i-r-faq-question {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  height: 56px;
}

.i-r-faq-answer {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  height: 60px;
  margin-top: 8px;
}
@media screen and (min-width: 1199px) {
  .i-r-faq-container {
    padding: 112px 72px 0;
    width: 1440px;
    margin: auto;
  }
  .i-r-faq-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .i-r-faq-item {
    width: 416px;
    height: 198px;
    padding: 24px;
    border-radius: 50px;
    border-width: 1px;
  }

  .i-r-faq-question {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    height: 68px;
  }

  .i-r-faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    height: 66px;
    margin-top: 16px;
  }
}

.i-r-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  position: relative;
}
.i-r-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
}

.i-r-features-img {
  position: absolute;

  height: 219px;
  top: 0;
  right: 0;
}
.i-r-features-div-two {
  display: flex;

  gap: 32px;
}
.i-r-features-div-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.i-r-features-div-item-text {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #f2f2f2;
}

@media screen and (min-width: 1199px) {
  .i-r-features-container {
    width: 1440px;
    margin: auto;
    padding: 112px 72px;
  }
  .i-r-features-div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
  }

  .i-r-features-img {
    position: absolute;

    height: 532px;
    top: 0;
    right: 0;
  }
  .i-r-features-div-two {
    display: flex;

    gap: 32px;
  }
  .i-r-features-div-item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .i-r-features-div-item-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.i-r-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-r-container h1 {
  font-family: Orbitron;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-r-container h2 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-r-container h3 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-r-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-r-container ul li {
  margin-bottom: 10px;
}
.i-r-container p {
  margin-top: 10px;
}
.i-r-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-r-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1199px) {
  .i-r-container {
    padding: 236px 72px 140px;
    width: 1440px;
    margin: auto;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-r-container h1 {
    font-family: Orbitron;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-r-container h2 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-r-container h3 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-r-container ul {
    margin-top: 20px;
  }

  .i-r-container ul li {
    margin-bottom: 10px;
  }
  .i-r-container p {
    margin-top: 20px;
  }
}

.i-r-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.i-r-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.i-r-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.i-r-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 55px;
}
.i-r-footer-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-r-footer-div-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #f2f2f2;

  width: 311px;
}
.i-r-footer-img {
  height: 24px;
}
@media screen and (min-width: 1199px) {
  .i-r-footer-container {
    width: 1440px;
    padding: 24px 0px;

    gap: 32px;
  }

  .i-r-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 40px;
  }

  .i-r-footer-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .i-r-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-r-footer-div {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .i-r-footer-div-item {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 288px;
  }
  .i-r-footer-img {
    height: 40px;
  }
}

.i-r-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(60px);
  background: #000000;

  z-index: 1000;
  display: none;
}

.i-r-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-r-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-r-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid #4a90e2;
  background: #ffffff03;
  width: 122px;
  padding: 11px 0;
  border-radius: 50px;
  border-width: 2px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

#accept-cookies {
  background: #4a90e2;
}

.i-r-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.i-r-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1199px) {
  .i-r-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 555px;
  }
  .i-r-cookie-button {
    width: 168px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-r-cookie-popup-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-r-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .i-r-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
